<h1 class="mt-5 mb-4 text-center">Cadastro de Autores</h1>
<hr />
<form class="mt-4 mb-4">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      id="nome"
      type="text"
      class="form-control"
      placeholder="Nome do autor"
    />
  </div>
  <div class="form-group">
    <label for="nacionalidade">Nacionalidade</label>
    <input
      id="nacionalidade"
      type="text"
      class="form-control"
      placeholder="Nacionalidade"
    />
  </div>
  <div class="form-group">
    <label>Gênero </label><br />
    <div class="btn-group btn-group-toggle">
      <label class="btn btn-outline-danger">
        <input type="radio" value="FEMININO" /> Feminino
      </label>
      <label class="btn btn-outline-primary">
        <input type="radio" value="MASCULINO" /> Masculino
      </label>
    </div>
  </div>
</form>
<hr />
<div class="row text-center mt-4">
  <div class="offset-3 col-3">
    <div class="btn btn-primary btn-block">Salvar</div>
  </div>
  <div class="col-3">
    <div class="btn btn-secondary btn-block">Cancelar</div>
  </div>
</div>
